# command to remove files that are already tracked
# git rm --cached "filename"

.idea/Misc_Math.iml
# .idea/misc.xml # this command will ruin structure of project
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/madis.xml
**__pycache__/
Numerical_Analysis/M610/HW2/__pycache__/comp.cpython-37.pyc

# No need to upload my test environment python file
Combinatorics/test.py